In [2]:
import pandas as pd
import numpy as np

# 객체 수 선언!#########
number_of_stores = 3
#####################

rows = []
col = ["unit price" , "number"]
#make columns
for i in range(1,number_of_stores+1):
    rows.append(("store "+str(i)))
df = pd.DataFrame([[1000 , 25],[280 , 120],[900 , 30]] , rows,col)
# 생성한 테이블 출력
print(df)

# 총 가격이라는 새로운 필드 생성하고 출력
df['total price'] = df['unit price']*df['number']
print(df)

# 총 가격이 가장 큰 테이블 출력
priceSet = df['total price']
max=0
for price in priceSet:
    if(price>max):
        max=price
#특정열 마스킹
df[df['total price']>=max]

         unit price  number
store 1        1000      25
store 2         280     120
store 3         900      30
         unit price  number  total price
store 1        1000      25        25000
store 2         280     120        33600
store 3         900      30        27000

         unit price  number  total price
store 2         280     120        33600